.painel{
    width: var(--px-painel-w);
    height: 100vh;
    background: #0066b1;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-msg{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
    padding: 20px;
    font-size: 20px;
}

#msg-sucess{
    color: #2c8e00;
}

#msg-info{
    color: #ffb100;
}

#jogador{
    margin: 30px 0;
    font-size: 25px;
}

.sucess{
    background-color: #bbfccf;
    font-weight: bold;
}

#box-sucess{
    display: none;
}


#box-info{
    display: none;
}

.info{
    background-color: #fcfcc2;
}

#jogadas{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 30px 15px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.45);
}

hr{
    border: none;
    border-top: 1px solid #A7C4FF;
}

#jogadas p{
    margin: 15px;
    font-size: 18px;
}

label, p{
    color: #A7C4FF;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #0066b1;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.45);
    font-size: 18px;
}

span{ 
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
}

#acertosj1, #acertosj2{
    color: #0066b1;
}

input, label, #jogador, span, p{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}